* {
  box-sizing: border-box;
}

header {
  position: fixed;
  padding: 10px;
  margin-top: -10px;
  text-align: center;
  background-color: light-dark(white, black);
  width: 100%;
  box-shadow: 2px 2px 10px 0 hsla(0, 0%, 40%, 0.5);
}

.container {
  padding-top: 60px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  padding: 20px;
  border: 1px solid #000;
  margin: 10px;
  width: calc(33.33% - 20px);
}

input,
button,
a {
  margin-right: 10px;
}
